* {
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  text-align: center;
  font-size: 55px;
  color: #193117;
}
h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 200px;
  color: #3e2937;
  font-weight: 300;
  font-size: 40px;
}
p {
  margin-top: 5px;
  color: white;
}
body {
  background-color: #8bb7e3;
}
.page {
  width: 1200px;
  background-color: #628E5D;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 50px;
  padding-top: 35px;
}
.vis-box {
  padding: 10px;
  width: 100%;
}
.titlepara {
  text-align: justify;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  border-top: 3px solid #F7DD72;
  border-bottom: 3px solid #F7DD72;
}
.pure-g {
  margin-bottom: 25px;
}
.border6 a {
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 2px #193117;
}
.border6 a:hover {
  color: #002500;
}
.textcontent {
  padding-right: 40px;
  font-size: 25px;
  text-align: justify;
}
.green {
  color: #9ee08b;
}
.red {
  color: #ff4c4c;
}
.bold {
  font-weight: "bolder";
}
.pure-u-2-3 {
  color: white;
}
.border {
  border-left: 3px solid #F7DD72;
  height: 470px;
}
.border2 {
  border-left: 3px solid #F7DD72;
  height: 495px;
}
.border3 {
  border-left: 3px solid #F7DD72;
  height: 485px;
}

.border4 {
  border-left: 3px solid #F7DD72;
  height: 440px;
}

.border5 {
  border-left: 3px solid #F7DD72;
  height: 490px;
}

.border6 {
  border-left: 3px solid #F7DD72;
  height: 55px;
}
.border7 {
  border-left: 3px solid #F7DD72;
  height: 440px;
}
